pandas
matplotlib
seaborn
h5py
yt
sympy
patsy
ggplot
statsmodels
git+https://github.com/Theano/Theano.git
git+https://github.com/Lasagne/Lasagne.git
git+https://github.com/fchollet/keras.git
https://github.com/Lasagne/Lasagne/archive/master.zip
bokeh
mock
pytest
scikit-learn
